<div class="slide-container">
  <div class="slide">
    <img class="slide-image" src="kyoto.jpg" >
    <div class="slide-content has-text-danger ">
    <p class=" has-text-weight-bold">
      Kyoto
    </p>
    <p >
      Immerse in its rich culture
    </p>
  </div>
  </div>
  <div class="slide">
    <img class="slide-image" src="maldives.jpg" >

    <div class="slide-content has-text-black ">
      <p class="has-text-weight-bold">
        Maldives
      </p>
      <p>
      Island Vacation awaits you
      </p>
    </div>
  </div>
  <div class="slide">
    <img class="slide-image" src="newyork.jpg" >

    <div class="slide-content has-text-warning ">
    <p class="has-text-weight-bold">
      NYC
    </p>
    <p>
      Experience the hustle bustle of the city
    </p>
  </div>
  </div>
  <i id="prevArrow" class="fas fa-angle-left"></i>
  <i id="nextArrow" class="fas fa-angle-right"></i>
  <div class="slide-button">
    <span class="dot" data-num=0></span>
    <span class="dot" data-num=1></span>
    <span class="dot" data-num=2></span>
  </div>
</div>





<%= javascript_pack_tag 'slider'%>