<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <h1 class="is-size-3">Search Flights</h1>
        <%= render 'search_form' %>
        <%= render 'search_result' %>      
      </div>
    </div>
  </div>
</section>

