/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 
 @import "bulma";
 @import "font-awesome-sprockets";
 @import "font-awesome";



.notification:not(:last-child) {
  margin-bottom: 0;
}


#flight select {
  flex-grow: 1;
  text-align-last: center;
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(207, 41, 41);
  border: none;
  margin: 2px;
  font-size: 1rem;
  font-weight:light;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}


#flight option {
  background-color: rgb(0, 0, 0);
}

#flight input {
  font-size: 1rem;
  border-radius: 0.3rem;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

}

.vertical{
  display: flex;
  flex-direction: column;
  margin:  0 2rem;
}

.vertical > * + * {
  margin-top: 2rem;
}  

// .vertical > * {
//   margin: 0.5rem;
// }

#flight form{
  display:flex;
  flex-direction: row;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;

}

.navbar-item {
  display: flex;
  justify-content: flex-end;
  background-color: black;
}

.navbar-item > a {
  flex-grow: 1;
}

.navbar-menu{
  padding-top: 0;
  margin-top: 0;
}

.grid{
  display: grid;
  grid-template-areas: "a b c d e f";
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem ;
}

.a{grid-area: a;}

.b{grid-area: b;}

.c{grid-area: c;}

.d{grid-area: d;}

.e{grid-area: e;}

.f{grid-area: f;}

// .slide-container{
//   height: 200px;
//   width:200px;
// }

.slide-container {
  position: relative;
  margin: 0;
  
}

.slide{
  display: none;
  animation: fade 1s forwards ease-in-out;
  position:relative;

}

.slide-image{
  height: 20rem;
  width:100vw;
  object-fit: cover;

}


.slide-content{
  position: absolute;
  top: 10%;
  left:10%;
}

.fa-angle-left{
  position: absolute;
  margin: 0;
  top: 50%;
  transform: translate(0, -50%); 
  font-size: 2rem;
  color:crimson
}

.fa-angle-right{
  position: absolute;
  margin: 0;
  top: 50%;
  right: 0;
  transform: translate(0, -50%); 
  font-size: 2rem;
  color:crimson;

}

.dot {
  width: 1rem;
  height: 1rem;
  background-color: crimson;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.dot.active{
  opacity: 1;
}

.slide-button {
  position: absolute;
  bottom:1rem;
  right: 50%;
  transform: translate(50%, 0); 
}

.slide-content > p {
  font-size: 2rem;
}


@keyframes fade {
  0%{
    opacity: .4;
  }

  100%{
    opacity: 1;
  }
}


@media(max-width:520px){
  #flight form{
    flex-direction: column;
  }

  .grid{
    grid-template-areas: 
    "a b c"
    "d e e"
    "f f f"
    ;
  }
}